<div class="card border border-primary">
  <div class="card-header">
    <h5 class="card-title">Explore books</h5>
  </div>
  <div class="card-body books-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Publisher</th>
          <th scope="col">Number of pages</th>
          <th scope="col">Favorite</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <th scope="row">{{book.id}}</th>
          <td>{{book.title}}</td>
          <td>{{book.publisher}}</td>
          <td>{{book.numberOfPages}}</td>
          <td>{{book.favorite}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>