<div class="card border border-primary">
  <div class="card-header">
    <h5 class="card-title">Explore books</h5>
  </div>
  <div class="card-body books-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"><button type="button" class="btn btn-primary" (click)="sortById()">ID</button></th>
          <th scope="col"><button type="button" class="btn btn-primary" (click)="sortByTitle()">Title</button></th>
          <th scope="col"><button type="button" class="btn btn-primary" (click)="sortByPublisher()">Publisher</button></th>
          <th scope="col"><button type="button" class="btn btn-primary" (click)="sortByType()">Type</button></th>
          <th scope="col"><button type="button" class="btn btn-primary" (click)="sortByNumberOfPages()">NumberOfPages</button></th>
          <th scope="col"><button type="button" class="btn btn-primary" (click)="sortByFavorite()">isFavorite</button></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{book.id}}</td>
          <td>{{book.title}}</td>
          <td>{{book.publisher}}</td>
          <td>{{book.type}}</td>
          <td>{{book.numberOfPages}}</td>
          <td>
            <ng-container *ngIf="book.isFavorite; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              <button type="button" class="btn btn-primary" (click)="switchFavorite(book)">is favorite</button>
            </ng-template>
            <ng-template #elseTemplate>
              <button type="button" class="btn btn-danger" (click)="switchFavorite(book)">is not favorite</button>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>