<div class="container">
  <app-snackbar></app-snackbar>
</div>
<div class="container content">

  <div class="row">
    <div class="col-12 col-md-4">
      <app-create-card></app-create-card>
    </div>
    <div class="col-12 col-md-8">
      <app-read-card [books]="(allBooks | async)"></app-read-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <app-create-card></app-create-card>
    </div>
    <div class="col-12 col-md-8">
      <app-create-card></app-create-card>
    </div>
  </div>

</div>

